openstacksdk
# 5.8+ replaces tenant_id support which train still relies on
# for various "side-effects" such as creating "default" security
# groups....don't ask...
python-openstackclient == 6.3.0
https://github.com/stfc/openstack-query-library/releases/download/v1.1.0/openstackquery-1.1.0-py3-none-any.whl
tabulate
requests
python-dateutil
Jinja2
pytz
jira
paramiko
css-inline == 0.14.6

# for tests
pytest
pytest-freezer
munch
