---
jupyter:
    prod_token:
    training_token:
    dev_token:

jira_accounts:
  - name: "default"
    username:
    api_token:
    atlassian_endpoint:

smtp_accounts:
  - name: "default"
    password:
    port:
    secure:
    server:
    smtp_auth:
    username:
max_attachment_size: 1024
attachment_datastore_ttl: 1800
