---
jupyter:
    prod_token:
    training_token:
    dev_token:

smtp_accounts:
  - name: "default"
    password:
    port: 465
    secure: false
    server: "mail.gridpp.rl.ac.uk"
    smtp_auth: false
    username: "cloud-support@stfc.ac.uk"
max_attachment_size: 1024
attachment_datastore_ttl: 1800
