Dear Cloud User {{username}},

We are writing to inform you one or more virtual machines (VMs) associated with your account are currently in a shutoff or errored state and have not been restarted or deleted for the past X days.

Please take a moment to review the list of affected VMs provided below and either restart them or delete them if they are no longer needed:

Shutoff:

{{shutoff_table}}

Errored:

{{errored_table}}

Please note that this is an automated notification. If you believe you received this email in error or have any concerns, please contact Cloud Operations Group for further assistance.
