||heading 1||heading 2||
|Hostname|{{hostname}}|
|IP Address|{{ip_address}}|
|Machine Name|{{machine_name}}|
|Linux OS Version|{{os_version}}|
|Kernel Version|{{kernel_version}}|
|Icinga Status|{{icinga_status}}|
|Downtime|{{downtime}}|
|is Enabled|{{is_enabled}}|
|Disabled Reason|{{disabled_reason}}|
|is Empty|{{is_empty}}|
|Position|{{position}}|
