Dear Cloud User {{username}}, <br/><br/>

Test email about servers on hv <br/><br/><br/>

<b> VMs: </b><br/>

<br/> {{vm_table}}

Please note that this is an automated notification. If you believe you received this email in error or have any concerns, please contact Cloud Operations Group for further assistance.<br/>
