Dear Ops team, <br/><br/>

These are the current list of Hypervisors that are in 'Down' and/or 'Disabled' state:  <br/><br/><br/>
<h2>Down Hypervisors:</h2>
<br/> {{down_table}} <br/>

<h2>Disabled Hypervisors:</h2>
<br/> {{disabled_table}} <br/>
