Dear Ops team, <br/><br/>

These are the current list of Hypervisors that are in 'Down' state and with 'Disabled' status:  <br/><br/><br/>
<h3>Down Hypervisors:</h3>
<br/> {{down_table}} <br/>

<h3>Disabled Hypervisors:</h3>
<br/> {{disabled_table}} <br/>
