{% raw %}
<html>
  <head>
    <style>
      table, td, th {
        border: 1px solid #ddd;
        text-align: left;
      }
      table {
        border-collapse: collapse;
      }
      th, td {
        padding: 15px;
      }
    </style>
  </head>
{% endraw %}
  <body>
    {{body}}
  </body>
</html>
