Dear Cloud User {{username}},

The STFC Cloud is decommissioning Virtual Machines with the following Flavors. We are getting in touch because you have VMs running on the above flavors.

{{affected_flavors_table}}


The hardware hosting these Virtual Machines is no longer supported.
This hardware will be decommissioned on the dates shown in the table above

Your VM(s) (details below) must be either:
- migrated to new flavors.
- replaced with newly created VMs on different flavors.
- or deleted.


{{decom_table}}

The document linked below details the steps you can take to migrate your VMs using the resize process:
https://stfc.atlassian.net/wiki/spaces/CLOUDKB/pages/1738184/Resizing+a+Virtual+Machine

Failure to comply with this notice by end-of-business on the dates mentioned will lead to us snapshotting and deleting any VMs on these flavors.

(Note: we understand that our User Communities often create VMs on behalf of others, this communication is based on the individual who created the machine in the STFC Cloud. In this case delegate as needed to your colleagues and collaborators)
