Dear Cloud User {{username}},

As you may be aware, the STFC Cloud is decommissioning Virtual Machines with the following Flavors:

{{affected_flavors_table}}

This is largely due to the age of the hardware hosting these Virtual Machines. The data centre space we recover from these hosts can be used for newer, denser hardware.

This decommissioning has been in progress for a number of months and has progressed well so far. However, we now need to get in touch with all users who still have VMs using the above flavors individually regarding next steps.

In short, this hardware must be decommissioned by the EOL dates displayed in the table above. As such, your VM(s) (details below) must be either migrated to new hardware, replaced with newly created VMs, or deleted by this date.

(Note: We understand that our User Communities often create VMs on behalf of others. This communication is based on the individual who created the machine in the STFC Cloud. In this case, please delegate as needed to your colleagues and collaborators.)

{{decom_table}}

The document linked below details the steps you can take to migrate your VMs using the resize process:
https://stfc.atlassian.net/wiki/spaces/CLOUDKB/pages/1738184/Resizing+a+Virtual+Machine

Where possible, we will not decommission hardware that is still hosting user-owned VMs. However, please note that if the Hypervisor hosting your VM fails, we have NO spares and will NOT attempt anything beyond basic repair work. In this case, you will suffer the total loss of your VM.

Failure to comply with this notice by mid day (12:00PM) on the EOL dates above will lead to hardware being turned off and disposed of, whether it is still hosting VMs or not. Eventually, we have no choice at this point. Routine reminders will follow and increase in frequency over the coming weeks.

If you have any concerns with this notice or require clarification or support, please get in touch with the Cloud Ops Team directly by replying to this message, or by raising a ticket with STFC Cloud Support at:
cloud-support@stfc.ac.uk
