Dear Cloud User {{username}}

As you may be aware the STFC Cloud is decommissioning Operating System images as they are nearing their End Of Life
(EOL):

{{affected_images_table}}

What this means is that the above images will no longer receive any maintenance or security updates and continuing to
operate machines with these images poses a risk to the platform as a whole.

Access to the above images will be revoked as of the EOL date in the above table. This means that you will not
be able to create and new machines using any of the above images but any existing machines will not be affected.

We are getting in touch with all of you who still have VMs running the affected images individually regarding next
steps. We request that you delete or replace the affected VMs (listed below) as soon as possible.

{{decom_table}}

(Note: we understand that our User Communities often create VMs on behalf of others, this communication is based on
the individual who created the machine in the STFC Cloud. In this case delegate as needed to your colleagues and
collaborators)

Note that in this instance we will not accept users conducting an 'in-place upgrade' of the Operating System
on their machines.

If you have any concerns with this notice or require clarification or support, please get in touch with the
Cloud Ops Team directly by replying to this message, or by raising a ticket with STFC Cloud Support at
cloud-support@stfc.ac.uk


