Dear Cloud User {{username}},

This is a notification regarding hypervisor maintenance that may affect one or more of your STFC Cloud virtual machines.
The maintenance will involve creating a snapshot of your VMs and then live migrating them to another hypervisor. You may see a very brief period of packet loss as your VMs are moved, however your VMs should stay active.

VMs:

{{vm_table}}

If you see any issues with your VMs following this action, please send us the details of your VMs and a copy of this notification to cloud-support@stfc.ac.uk

Please note that this is an automated notification. If you believe you received this email in error or have any concerns, please contact Cloud Operations Group for further assistance.
