Dear Cloud User {{username}},

This is a notification regarding a hypervisor fault that may affect one or more of your STFC Cloud virtual machines.
We will attempt to create a snapshot of your VMs and then live migrate them to another hypervisor. As the hypervisor is experiencing an issue we may not be able to complete this action successfully and may need to take further action, however if all goes well you should see a very brief period of packet loss as your VMs are moved but your VMs should stay active.

VMs:

{{vm_table}}

If you see any issues with your VMs following this action, please send us the details of your VMs and a copy of this notification to cloud-support@stfc.ac.uk

Please note that this is an automated notification. If you believe you received this email in error or have any concerns, please contact Cloud Operations Group for further assistance.
