Dear {{ user_name }},
This is a reminder of the upcoming planned electrical maintenance works. 

These works are planned for: 
  - 1st-2nd November
  - 8th-9th November  

This will impact the following flavors, VMs using these flavors will be powered down and NOT ACCESSIBLE during the periods mentioned above: 
{{ affected_flavors_table }}

We would like to request that the following VMs be shut down ahead of the first weekend, shutting down by 17:00 on Thursday 30th October 2025. 
{{ affected_servers_table }}

Any impacted VMs still running will be shut down during the morning of Friday 31st October by the Cloud Operations Team.

VM access will then be restored during the afternoon of Monday 3rd November assuming all works are completed.

While the power work is expected to be completed by Monday 3rd November, we plan to operate AT RISK for the period beginning Friday 31st October, through to Wednesday 12th November. 

Any questions or concerns regarding these works can be raised via our support portal, via tickets to cloud-support@stfc.ac.uk, or as replies to this message. 

Best Regards,
STFC Cloud Operations