Dear Cloud User {{username}}, <br/><br/>

As you may be aware the STFC Cloud is decommissioning Virtual Machines with the following Flavors: <br/><br/>

{{affected_flavors_table}}

This is largely due to the age of the hardware hosting these Virtual Machines. The data centre space we recover from these hosts can be used for newer, denser hardware. <br/>

<p>This decommissioning has been in progress for a number of months and has progressed well so far but we
 now need to get in touch with all of you who still have VMs using the above flavors individually regarding next steps.<br><br>

In short, this hardware must be decommissioned by the EOL dates displayed in the table above, as such your VM(s) (details below)
 must be either migrated to new hardware, replaced with newly created VMs, or deleted by this date.

(Note: we understand that our User Communities often create VMs on behalf of others, this communication is based on
 the individual who created the machine in the STFC Cloud. In this case delegate as needed to your colleagues and
 collaborators)<br><br>

{{decom_table}}

The document linked below detail the steps you can take to migrate your VMs using the resize process:<br>
 <a data-fr-linked="true" href="https://stfc.atlassian.net/wiki/spaces/CLOUDKB/pages/1738184/Resizing+a+Virtual+Machine">
https://stfc.atlassian.net/wiki/spaces/CLOUDKB/pages/1738184/Resizing+a+Virtual+Machine</a><br><br>

Where possible we will not decommission hardware that is still hosting User owned VMs but please note that
 if the<br>Hypervisor hosting your VM fails we have NO spares and will NOT attempt anything beyond basic repair work,
 <br>in this case you will suffer the total loss of your VM.<br><br>

Failure to comply with this notice by mid day (12:00PM) on the EOL dates above will lead to Hardware being
 turned off and disposed of, whether it<br> is still hosting VMs or not, eventually we have no choice at this point.
 Routine reminders will follow and increase in frequency over the coming weeks.<br><br>

If you have any concerns with this notice or require clarification or support, please get in touch with the
 Cloud Ops Team directly by replying to this message, or by raising a ticket with STFC Cloud Support at
 <a data-fr-linked="true" href="mailto:cloud-support@stfc.ac.uk">cloud-support@stfc.ac.uk</a></p>
