Dear Cloud User, <br/><br/>

As you may be aware, the STFC Cloud regularly rotates its set of CAPI (Cluster API) images for Kubernetes clusters in order to provide support for new versions, remove End-of-Life (EOL) images, and to include updates for the underlying operating system.<br/><br/>

We are contacting you as the image {{affected_image}} currently being used for project {{affected_project}} is due to be decommissioned/warehoused on {{date_of_decommissioning}}.

<p>Access to the above images will be revoked at the time specified. This means you will not be able to create new machines using any of the above images but any existing machines will not be affected.

We request that you upgrade any CAPI Clusters using the affected images to a newly released equivalent as soon as possible. Instructions can be found <a href="https://stfc.atlassian.net/wiki/x/QIAHEQ">here</a> <br/><br/>

<b>(Note: Users who do not use Kubernetes Clusters, or who do not use CAPI or our images to deploy their clusters, do not need to take any action)</b><br/><br/>

If you have any concerns with this notice or require clarification or support,please get in touch with the STFC Cloud Operations group directly by raising a ticket at <a data-fr-linked="true" href="mailto:cloud-support@stfc.ac.uk">cloud-support@stfc.ac.uk</a><br/><br/>

Best Regards,<br/>
STFC Cloud Operations Group

</p>
