
<meta charset="UTF-8">
<title>STFC Cloud - CAPI Images Update</title>


<p>Dear Cloud Users,</p>

<p>The STFC Cloud maintains a set of CAPI (Cluster API) images for deployment of Kubernetes clusters. Part of this maintenance is the release of new CAPI images to allow for the usage of new Kubernetes versions, and provide an updated set of base operating system updates.</p>

<p>The following new images have been released:</p>

{{ new_images_table }}

<p>These images can be added to existing CAPI configurations and be used immediately.</p>

<p>Note that End-of-Life and outdated images are eventually rotated out, approximately bi-annually, so please be alert for future notifications when this set of new images are inevitably deprecated.</p>

<p>If you have any concerns with this notice or require clarification or support, please get in touch with the Cloud Ops Team directly by raising a ticket with STFC Cloud Support at <a href="mailto:cloud-support@stfc.ac.uk">cloud-support@stfc.ac.uk</a>.</p>

<p>Best Regards,<br>
STFC Cloud Operations Group</p>
