<p>Dear {{ user_name }},</p>

<p>This is a reminder of the upcoming planned <strong>electrical maintenance works</strong>.</p>

<p><strong>These works are planned for:</strong><br>
<ul>
    <li>1st-2nd November</li>
    <li>8th-9th November</li>
</ul></p>

<p><strong>This will impact the following flavors</strong> — VMs using these flavors will be powered down and <strong><u>NOT ACCESSIBLE</u></strong> during the periods mentioned above:<br>
{{ affected_flavors_table }}</p>

<p><strong>We would like to request that the following VMs be shut down ahead of the first weekend</strong>, shutting down by <strong>17:00 on Thursday 30th October 2025</strong>.<br>
{{ affected_servers_table }}</p>

<p><strong>Any impacted VMs still running will be shut down</strong> during the morning of <strong>Friday 31st October</strong> by the Cloud Operations Team.</p>

<p><strong>VM access will then be restored</strong> during the afternoon of <strong>Monday 3rd November</strong>, assuming all works are completed.</p>

<p>While the power work is expected to be completed by <strong>Monday 3rd November</strong>, we plan to operate <strong><u>AT RISK</u></strong> for the period beginning <strong>Friday 31st October</strong> through to <strong>Wednesday 12th November</strong>.</p>

<p>Any questions or concerns regarding these works can be raised via our support portal, via tickets to 
<a href="mailto:cloud-support@stfc.ac.uk">cloud-support@stfc.ac.uk</a>, or as replies to this message.
</p>

<p>Best Regards,<br>
<strong>STFC Cloud Operations</strong></p>